<%- include('partials/header'); -%>

<h2 style="margin-bottom: 50px;">新增課程
    <a class="btn btn-outline-primary" style="margin-left: 12px;margin-bottom: 4px;" href="/" role="button"><i class="fas fa-arrow-left"></i> 返回</a>
</h2>

<div class="row">
    <div class="col-6 offset-3">
        <form action="/addCourse" method="POST" autocomplete="off" class="validated-form">
            <div class="mb-3">
                <h4>名稱</h4>
                <input class="form-control" type="text" id="name" name="name" placeholder="name" required>
            </div>
            <br>
            <div class="mb-3">
                <h4>內容</h4>
                <input class="form-control" type="text" id="content" name="content" placeholder="content" required>
            </div>
            <br>
            <div class="mb-3">
                <h4>圖片url</h4>
                <input class="form-control" type="text" id="img" name="img" placeholder="image url" required>
            </div>
            <br>
            <div class="mb-3">
                <button class="btn btn-outline-success" type="submit">新增</button>
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer'); -%>